button{
    background-color: aqua
}
input{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
label{
    font-family:Arial, Helvetica, sans-serif;
}
